{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{{block.super}}

<h1 class="text-center" style="color:black; font-size: 30px; font-weight: bold;" >awwards..</h2>
    
    <div class="  banner text-center">
    <div class="header">
     <!-- <img src="../static/css/images/photo-one.jpg" >-->
  
                      <!-- <div class="box-content over mi" >
                        <a href="{% url 'score'  %}" class="site-link" aria-label=""></a>
                        <div class="inner vertical-center">
                            <div class="box-info">
                                <div class="row mx-auto D-block">
                                    <h2 class="heading-large"><a href="{% url 'score' %}"
                                      style="margin-top:-100px;">{{ random_post.title }}</a>
                                    </h2>
                                </div>
                                <div class="row mx-auto D-block">
                                    <div class="by ">
                                        by <strong><a href="">{{ random_post.user.username }}</a></strong>
                                    </div>
                                </div>
                                <div class="box-notesite js-notes"> -->
                                    <!-- <ul> -->
                                        <!-- {% for rating in random_post.ratings.all %}
                                        {% if forloop.counter is random_post.ratings.all.count %} -->
                                        <li class="circle-note-progress style-design" data-note="">
                                            <div class="circle">
                                                <div class="des">
                                                    <p class="d-block mx-auto textrate">{{rating.design_average}}</p>
                                                </div>
                                            </div>
                                            <div class="legend">DESIGN</div>
                                        </li>
                                        <!-- <li class="circle-note-progress style-usability"
                                            data-note="{{rating.usability_average}}">
                                            <div class="circle">
                                                <div class="des1">
                                                    <p class="d-block mx-auto textrate">{{rating.usability_average}}</p>
                                                </div>
                                            </div>
                                            <div class="legend">USABILITY</div>
                                        </li>
                                        <li class="circle-note-progress style-creativity"
                                            data-note="{{rating.content_average}}">
                                            <div class="circle">
                                                 <div class="des2">
                                                    <p class="d-block mx-auto textrate">{{rating.content_average}}</p>
                                                </div>
                                            </div>
                                            <div class="legend">CONTENT</div>
                                        </li>
                                        <li class="circle-note-progress style-content" data-note="{{ rating.score }}">
                                            <div class="circle">
                                                 <div class="des3">
                                                    <p class="d-block mx-auto textrate">{{rating.score}}</p>
                                                </div>
                                            </div>
                                            <div class="legend">SCORE</div>
                                        </li> -->
                                        <!-- {% endif %}
                                        {% endfor %}
                                    </ul> -->
                                <!-- </div>
                            </div>
                            </div> -->
                            </div>
                            </div> 


    
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{post.title|title}}</a>
              <p>{{ post.description }}</p>
             <img src="{{post.image.url}}" class="img-responsive" alt="Image" class="card-img" width="200px" height="150px">

            <hr>
            <p class="card-text "><img src="{{post.user.profile.profile_picture.url}}" class="nav-img mr-2" alt="">
                By {{post.user.username|title}} <span style="float:right">{{post.date|date}}</span>
            </p>
          </div>
        </article>
    {% endfor %}
  
{%endblock%}