{%extends 'base.html'%}
{% load static %}
{% load bootstrap3%}
{% load crispy_forms_tags %}
{% block content %}

{{block.super}}
<body>

<div class="bg">             
    <div class="box" style="background-image: url('  https://images.unsplash.com/photo-1535868463750-c78d9543614f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1055&q=80'); height: 300px;"> 
       <div class="flex-container">
        <p class="logos" id="one" style="padding: 20px; border: 2px solid blue;border-radius:200px;font-weight:bolder;font-size: 20px; width: 200px; color: white; text-align: center; float: left;">DESIGN</p>
        
        <p class="logos"  id="two"  style="padding: 20px; border: 2px solid blue;border-radius:200px;font-weight:bolder; font-size: 20px; width:200px; color: white; text-align: center; float: left;">USABILITY</p>
        
        <p class="logos" id="three" style="padding: 20px;border: 2px solid blue;border-radius:200px;font-weight:bolder; font-size: 20px; width: 200px; color: white; text-align: center; float: left;">CONTENT</p>
</div>
 </div>
</div>

<hr>
    <h4 style="text-align: center; font-size: 20px; font-weight: bold; color:black;">Websites available</h4>
                                    
<div class="container-fluid main">
    <div class="container-fluid headview"
   
    
    <div class="templates d-flex flex-row">
        {% for post in posts %}

        <div class="col-md-4 mt-4">
            <div class="card profile-card-5">
                <div class="card-img-block">
               <img src="{{post.image.url}}" class="img-responsive" alt="Image" class="card-img" >
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">{{post.title|title}}</h5>
                    <p class="card-text">{{posts.description}}</p>
                    <hr>
                    <a href="{{post.url}}"
                       class="btn btn-primary">View More</a>
                       <hr>
                  <p class="card-text "><img src="{{image.profile.image.url}}" class="nav-img mr-2" alt="">
                By {{post.user.username|title}} <span style="float:right">{{post.date|date}}</span>
            </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
<div class="footer">
 
<footer style="background-color:grey;" class="page-footer font-small unique-color-dark pt-4">
    <div class="container">
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 style="color: white;" class="mb-1">Awwards <i class="fas fa-trophy"></i>  <br> Innovate,Create and Inspire</h5>
        </li>
        
      </ul>
    </div>
   
    <div style="color: white;" class="footer-copyright text-center py-3">© 2019 Copyright:
      <a style="color: white;"> Bridgit Kirika</a>
    </div>
    
   </footer>
 

</div>
</body>
{%endblock%}